.search-form {
  display: flex;
  flex-direction: column;
}


.search-field {
  padding: 20px;
}

.button {
  width: 20%;
  min-height: 50px;
  padding: 20px;
}

.example-margin {
  margin: 0 10px;
}
